# This is Git's per-user configuration file.
[user]
	name = borgmanJeremy
	email = 46930769+borgmanJeremy@users.noreply.github.com
# Please adapt and uncomment the following lines:
#	name = Jeremy Borgman
#	email = borgman.jeremy@pm.me
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = /home/jeremy/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
